*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('img/halley-background.jpeg');
  background-size: cover;
}

.everything{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 60px;
  text-align: center;
}

h2{
  font-size: 50px;
}

p{
  font-size: 40px;
  margin-top: 30px;
  background: black;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  color: white;
}

.form{
  font-family: 'Inconsolata', monospace;
  color: white;
  transform: scale(2);
}

.how-old {
  margin-top: 45px;
}

.destiny{
  border-radius: 30px;
  padding: 10px;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
  background-color: white;
  color: black;
}

.destiny:hover{
  color: white;
  background-color: black;
}

.input-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 450px;
  font-size: 20px;
  margin-top: 30px;
}

.positive-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  visibility: "0";
  transform: translateY(280px);
  color: white;
  font-size: 30px;
  display: none;

}

.negative-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  transform: translateY(280px);
  color: white;
  font-size: 30px;
  display: none;
}

.try-again {
  border-radius: 30px;
  font-size: 20px;
  padding: 12px;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
  transform: translateY(300px);
  display: none;
}

.try-again:hover{
  color: white;
  background-color: black;
}
