*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

body {
  background: url('img/general/dice.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: 100vh;
  margin: 1rem auto 0 auto;

}

.general{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.main-title{
  font-size: 3.5rem;
  text-align: center;
  color: white;
  font-family: 'Inconsolata', monospace;
  filter: drop-shadow(2px 2px 6px black);
}

.randomEventBtn{
  padding: 1rem 8rem;
  border-radius: 1rem;
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  margin: 3rem auto 0 auto;
  border: 1px solid white;
  color: white;
  background-color: black;
}

.randomEventBtn:hover{
  cursor: pointer;
}

/* HALLEY */

.halleyMainTexts{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.halleyH1{
  font-size: 3.5rem;
  text-align: center;
  color: white;
  font-family: 'Inconsolata', monospace;
}

.title-p{
  font-size: 2rem;
  margin-top: 2rem;
  background: black;
  text-align: center;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  color: white;
}

.halleyform{
  font-family: 'Inconsolata', monospace;
  color: white;
  transform: scale(2.5);
  margin: 3rem auto 2rem auto;
  display: none;
}

.how-old {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin: 0.5rem auto 0.5rem auto;

}

#age-input{
  margin: 0 auto 0.5rem auto;

}

.destiny{
  border-radius: 30px;
  padding: 10px;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
  background-color: white;
  color: black;
}

.destiny:hover{
  color: white;
  background-color: black;
}

.input-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  width: 450px;
  font-size: 20px;
  margin-top: 30px;
}


h2{
  font-size: 2.2rem;
}

.sadly-p{
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem auto 1rem auto;
}

.positive-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 1.5rem;
    display: none;
    text-align: center;
}

  .negative-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 1.5rem;
    display: none;
    text-align: center;
    margin: 1rem auto 5rem auto;
  }

  h2{
    font-size: 2.2rem;
  }

  .sadly-p{
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem auto 1rem auto;
  }


  .try-again {
    border-radius: 30px;
    font-size: 2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-family: 'Inconsolata', monospace;
    cursor: pointer;
    display: none;
    margin: 2rem auto 2rem auto;
    border: 1px solid white;
    color: white;
    background: black;
  }

  .try-again:hover{
    color: white;
    background-color: black;
  }

@media (max-width:1500px){
  body{
    background: url('img/general/dice-vertical.jpg');
    background-position: center;
  }
}

@media (max-width: 760px){
  .halleyH1{
    font-size: 2rem;
  }
  .title-p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .how-old{
    font-size: 1rem;
  }
}

/* robots */

.robotsMainTexts{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.robotsH1{
  font-size: 3.5rem;
  text-align: center;
  color: white;
  font-family: 'Inconsolata', monospace;
}

.robots-p{
  font-size: 2rem;
  margin-top: 2rem;
  background: black;
  text-align: center;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  color: white;
}

.robotsform{
  font-family: 'Inconsolata', monospace;
  color: white;
  transform: scale(2.5);
  margin: 3rem auto 2rem auto;
  display: none;
}

.robotsdestiny{
  border-radius: 30px;
  padding: 10px;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
  background-color: white;
  color: black;
}

.robotsdestiny:hover{
  color: white;
  background-color: black;
}

.positive-message-robots{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 1.5rem;
  display: none;
  text-align: center;
  background-color: black;
}

.negative-message-robots{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 1.5rem;
  display: none;
  text-align: center;
  margin: 1rem auto 5rem auto;
  background-color: black;
}

.try-again-robots{
  border-radius: 30px;
  font-size: 2rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
  display: none;
  margin: 2rem auto 2rem auto;
  border: 1px solid white;
  color: white;
  background: black;
}

.try-again-robots:hover{
  color: white;
  background-color: black;
}

/* advertising */


.advertisingMainTexts{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.advertisingH1{
  font-size: 3.5rem;
  text-align: center;
  color: white;
  font-family: 'Inconsolata', monospace;
}

.advertising-p{
  font-size: 2rem;
  margin-top: 2rem;
  background: black;
  text-align: center;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  color: white;
}

.advertisingform{
  font-family: 'Inconsolata', monospace;
  color: white;
  transform: scale(2.5);
  margin: 3rem auto 2rem auto;
  display: none;
}

.advertisingdestiny{
  border-radius: 30px;
  padding: 10px;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
  background-color: white;
  color: black;
}

.advertisingdestiny:hover{
  color: white;
  background-color: black;
}

.positive-message-advertising{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 1.5rem;
  display: none;
  text-align: center;
  background-color: black;
}

.negative-message-advertising{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 1.5rem;
  display: none;
  text-align: center;
  margin: 1rem auto 5rem auto;
  background-color: black;
}

.try-again-advertising{
  border-radius: 30px;
  font-size: 2rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
  display: none;
  margin: 2rem auto 2rem auto;
  border: 1px solid white;
  color: white;
  background: black;
}

.try-again-advertising:hover{
  color: white;
  background-color: black;
}
